[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
flake8 = "*"
pytest-cov = "*"
mypy = "*"
tox = "*"
pep8-naming = "*"
types-redis = "*"

[packages]
celery-farmer = {editable = true,path = "."}

[scripts]
all-checks = "$SHELL -c 'flake8 && mypy && pytest'"
lint = "flake8"
test = "pytest"
typecheck = "mypy"
